{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/symfony4/symfony4/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/symfony4/symfony4/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
    <ul>
        {% for user in users %}
            <li>{{ user.name }} got {{ gifts[loop.index0] }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for message in app.flashes('notice') %}
            <li>{{ message }}</li>
        {% endfor %}

    </ul>
    <ul>
        {% for flashMessage in app.session.flashbag.get('key') %}

            <li>{{ flashMessage }}</li>

        {% endfor %}
    </ul>
</div>
{% endblock %}
